<?xml version="1.0"?>
<launch>
  
  <arg name="new_rtabmap" default="false"/>
  <arg name="localization" default="false"/>
  <arg name="rviz" default="false"/>
  <arg name="rtabmapviz" default="false"/>

  <include file="$(find turtlebot2i_bringup)/launch/minimal.launch"/>

  <include file="$(find turtlebot2i_bringup)/launch/test2.launch">
    <arg if="$(arg new_rtabmap)" name="args" value="--delete_db_on_start"/>
    <arg name="localization" value="$(arg localization)"/>
    <arg name="rtabmapviz" value="$(arg rtabmapviz)"/>
  </include>
</launch>
